@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Account.ChangePasswordConfirmation[ViewBag.LanguageId];
    ViewBag.Title = D["Change password confirmation"];
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @D["Your password has been changed."]
    </p>
</div>
@Html.ActionLink(D["Continue"], "Details", null, new { @class = "btn btn-default" })
