@{
    var D = Gradebook.Utils.LocalizedStrings.Account.ForgotPasswordConfirmation[ViewBag.LanguageId];
    ViewBag.Title = D["Forgot password confirmation"];
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @D["Please check your email to reset your password."]
    </p>
</div>
