@{
    var D = Gradebook.Utils.LocalizedStrings.Account.ResetPasswordConfirmation[ViewBag.LanguageId];
    ViewBag.Title = D["Reset password confirmation"];
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @D["Your password has been reset. Please "]@Html.ActionLink(D["click here to log in"], "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
