@using Microsoft.AspNet.Identity
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Layout.Login[ViewBag.LanguageId];
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()

        var db = new Gradebook.Models.ApplicationDbContext();
        var id = User.Identity.GetUserId();
        var users = db.Users.Where(e => e.Id == id).Select(e => new { e.Name, e.Surname });
        if (users.Any())
        {

            var user = users.Single();
            @Html.ActionLink(D["Logged as"] + " " + user.Name + " " + user.Surname, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

            <a id="acc" href="javascript:document.getElementById('logoutForm').submit()">@D["Logout"]</a>
        }
    }
}
else
{

<a> @Html.ActionLink(D["Log in"], "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </a>

}