body {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color .5s;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#global_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #009879;
    color: white;
    text-align: center;
}

.list-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

    .list-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .list-table th,
    .list-table td {
        padding: 12px 15px;
    }

    .list-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .list-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .list-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009879;
    overflow-x: hidden;
    font-weight: bold;
    padding-top: 60px;
    overflow-x: hidden;
    transition: 0.5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        -webkit-text-stroke: 1px #034d3e;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: black;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

div.alert.alert-danger {
    display: block;
}

    div.alert.alert-danger:empty {
        display: none;
    }

.rightsidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #009879;
    overflow-x: hidden;
    padding-top: 60px;
    overflow-x: hidden;
    font-weight: bold;
    text-align: left;
    
}

    .rightsidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 24px;
        color: white;
        -webkit-text-stroke: 1px #034d3e;
        display: block;
        transition: 0.3s;
    }

        .rightsidenav a:hover {
            color: black;
       }
.languages{
    vertical-align: bottom;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    margin: 5px 60px 5px 5px;
    align-content: flex-end;
}
    .languages a{
    vertical-align: bottom;
    }

.buttons{
    margin-block: 5px;
    margin: 5px;
    padding: 5px;
    position: absolute;
    align-items: center;
}